{% extends 'base.html.twig' %}

{% block title %}Hello DashboardUserController!{% endblock %}

{% block body %}

<h1>Tableau de bord utilisateur</h1>
<div class="container">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{app.user.nom}}</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">{{app.user.prenom}}</h6>
            <p class="card-text"> {{app.user.email}} </p>
            <a href="{{ path ('update', {'id': app.user.id}) }}" class="btn btn-warning"> Modifier </a>
        </div>
    </div>
</div>




{% endblock %}
